
<div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-6 col-centered">
        {{#if message}}
            <div class="alert alert-primary">
                {{message}}
            </div>
        {{/if}}
        <div class="tile tile-login">
            <h3 class="text-center" style="color: white">Sign Up</h3>
            <form action="/admin/addbank" method="post">
                <div class="input-icon">
                    <span class="fa-user fa"></span>
                    <input type="text" name="bname" class="form-control" placeholder="Bank Name">
                </div>
                <br>
                <a href="javascript:void(0)" class="login-button btn btn-block btn-primary btn-embossed">ADD BANK</a>
            </form>
        </div>

        <br>
        <br>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Bank Name</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{bankname}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>

</div>


<script>
    $(document).ready(function(){
        $(document).on("click",".login-button",function(){
            var form = $(this).closest("form");
            //console.log(form);
            form.submit();
        });
    });
</script>
