
<div class="row">

    <div class="col-md 4">
        <h1>{{title}}</h1>

        <p>Welcome to {{title}}</p>
    </div>
    <div class="col-md 4">
        {{#if message}}
            <div class="alert alert-primary">
                {{message}}
            </div>
        {{/if}}
    </div>
    <div class="col-md 4"></div>
</div>


