<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
      <!-- Loading Font Awesome Icons -->
      <link href="stylesheets/font-awesome.min.css" rel="stylesheet">

      <!-- Loading Bootstrap -->
      <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="bootstrap/css/prettify.css" rel="stylesheet">

      <!-- Loading Drunken Parrot UI -->
      <link href="stylesheets/drunken-parrot.css" rel="stylesheet">
  </head>

  <style>
      .col-centered{
          float: none;
          margin: 0 auto;
      }
  </style>

  <body>

  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">Personal Money Manager</a>
      </div>

      <ul class="nav navbar-nav">
          <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
          {{#if currentUser}}

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, {{currentUser.name}} <i class="fa fa-chevron-down"></i></a>
                  <ul class="dropdown-menu">
                      <div class="arrow top"></div>
                      <li>
                          <a href="#">
                              <span class="fa fa-user"></span> My Account
                          </a>
                      </li>
                      <li>
                          <a href="/logout">
                              <span class="fa fa-sign-out"></span> Logout
                          </a>
                      </li>
                  </ul>
              </li>





          {{else}}

              <li>
                  <a href="/login">
                      <i class="fa fa-sign-in"></i> Login</a>
              </li>
              <li>
                  <a href="/signup">
                      <i class="fa fa-user"></i> Sign Up</a>
              </li>

          {{/if}}
      </ul>
  </nav>

  <div class="container">
      {{{body}}}
  </div>






  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <script src="bootstrap/js/prettify.js"></script>
  <script>window.prettyPrint && prettyPrint();</script>
  </body>
</html>
