
<div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-6 col-centered">

        <div class="tile tile-login">
            <h3 class="text-center" style="color: white">Login</h3>
            <div class="input-icon">
                <span class="fa-user fa"></span>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="input-icon">
                <span class="fa-lock fa"></span>
                <input type="password" class="form-control" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
            </div>

            <a href="#fakeLink" class="btn btn-block btn-primary btn-embossed">Log in</a>

        </div>
    </div>

</div>
